node_modules
dist
storage/uploads/*
!storage/uploads/.gitkeep
storage/meta/*
!storage/meta/.gitkeep
storage/exports/*
!storage/exports/.gitkeep
.DS_Store

.env

dist/
release/

.env
node_modules/
storage/
release/
dist/
*.mp4
*.webm
